# Backend
HOST=0.0.0.0
PORT=8000

CORS_ORIGINS=["http://localhost:3000"]

# --- Параметри повторних спроб запуску БД ---
MAX_RETRIES = 5  # кількість спроб підключення до БД
RETRY_DELAY = 2  # секунди

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_HOST=
REDIS_PORT=